@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.sidebar {
  height: 100%;
  width: 125px;
  position: fixed;
}

.sidebar__behind {
  height: 85%;
  width: 125px;
  background-color: #23395d;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.sidebar__topSmallBox {
  height: 16.3%;
  width: 125px;
  background-color: #214f7e;
  position: absolute;
  bottom: 0;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sidebar__name,
.sidebar__about,
.sidebar__projects,
.sidebar__resume,
.sidebar__line1,
.sidebar__line2 {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.sidebar__navOptions {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  transform: rotate(-90deg);
  flex: 1;
  white-space: nowrap;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.sidebar__name {
  padding: 20px;
}

.sidebar__navOptions > a {
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.sidebar__navOptions > a::after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.sidebar__navOptions > a:hover::after {
  width: 100%;
}